@import url('https://fonts.googleapis.com/css2?family=Saira:ital,wght@0,100..900;1,100..900&display=swap');

body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    background-color: #1e1e1e;
}

@page {
    size: A4;       /* ou size: 210mm 297mm; */
    margin: 0;      /* ou margin: 10mm; selon ton besoin */
}

.cv_container {
    width: 210mm; /*A4 width*/
    height: 297mm; /*A4 height*/
    font-size: 11px;
    font-family: Saira;
    display: grid; /* activate CSS Grid Layout mode */
    grid-template-columns: 35% 65%; /* create 2 columns by specifying the proportions*/
    background-color: white;
}

.left_column {
    height: 100%;
    background-color: #0ea9c4;
}

section#about_me {
    height: 100%;
}

.left_grid {
    height: 100%;
    padding: 10% 10%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-content: center;
}

section#about_me h1 {
    margin: 0;
}

.photo_container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.photo {
    width:90%;
    height: 90%;
    border-radius: 30%;
    object-fit: cover;
    margin-left: auto;
    margin-right: auto;
    padding: 0;
}

.left_column h1 {
    font-size: 16px;
    background-color: white;
    border-radius: 30px;
    padding-top: 2%;
    padding-bottom: 2%;
    display: block;
    text-align: center;
}

section#about_me h2 {
    color: white;
    margin: 0%;
    text-align: center;
}

.bio_container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-content: center;
    gap: 5mm;
}

.bio_sub_container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-content: center;
    gap: 5mm;
}

div.bio_container h2 {
    font-size: 12px;
}

.bio {
    padding-left: 5%;
    padding-right: 5%;
    color: white;
    text-align: left;
    margin: 0;
}

section#about_me ul {
    color: white;
    padding-left: 10%;
    padding-right: 5%;
    margin: 0;
}

.skills_container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 5mm;
}

section#about_me ul li {
    list-style: square;
}

div.languages_container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    gap: 5mm;
}

div.languages_container h2 {
    font-size: 14px;
}

.languages_container p{
    margin: 0;
    color: white;
    text-align: center;
}

.languages_sub_container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 5mm;
}

.right_column {
    height: 100%;
}

.right_grid {
    display: flex;
    flex-direction: column;
    padding: 5%;
    box-sizing: border-box;
    justify-content: space-between;
}

/*
.right_grid > section:not(:first-child) {
    margin-top: auto;
}
*/

.right_grid > section {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

section#personal_data {
    gap: 2.5mm;
}

.right_grid > section h1 {
    display: flex;
    text-align: center;
    align-items: center;
    line-height: 1;
    margin: 0%;
}

.right_grid > section h1:not(h1.first_name) {
    color: #0ea9c4;
}

.right_grid > section:not(section#personal_data) h1 {
    margin-top: 7mm;
    margin-bottom: 7mm;
}

.personal_header {
    display: flex;
    flex-direction: column;
    align-content: center;
}

.personal_header_sub {
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: space-between;
}

.per_header_name {
    display: flex;
    gap: 1mm;
}

.per_header_dl {
    display: flex;
    justify-content: right;
}

#pdf_icon {
    width: 2em; 
    height: 2em;
    margin: 0;
    padding: 0;
}

.per_header_name > h1 {
    font-size: 32px;
}

.personal_header > p {
    font-size: 12px;
    margin: 0%;
}

section#personal_data ul {
    font-size: 12px;
    list-style-type: none;
    padding-left: 1em;
    margin: 0;
}

.icon {
    width: 1em; 
    height: 1em; 
    vertical-align: middle; 
    margin-right: 0.5em;
}

.right_grid > section:not(section#personal_data) h1::before {
    content: "";
    flex: 1;
    border-top: 1.5px solid #0ea9c4;
    margin-right: 2.5mm;
    margin-top: 2.5mm;
    margin-bottom: 2.5mm;
    height: 0;
    align-self: center;
}

.right_grid > section:not(section#personal_data) h1::after {
    content: "";
    flex: 1;
    border-top: 1.5px solid #0ea9c4;
    margin-left: 2.5mm;
    margin-top: 2.5mm;
    margin-bottom: 2.5mm;
    height: 0;
    align-self: center;
}

/*
.experience_container {
    margin-bottom: 3%;
}
*/

.experiences_container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 5mm;
}

.experience_header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.exp_header_left {
    display: flex;
    justify-content: center;
    align-items: center;
}

.experience_header h2 {
    margin: 0%;
    text-align: left;
    font-size: 12px;
}

.exp_location {
    margin: 0%;
    font-style: normal;
}

.exp_location::before {
    content: "|";
    margin: 5px;
}

.exp_duration {
    margin: 0%;
    text-align: right;
}

.experience_body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 2.5mm;
}

.job_title {
    margin: 0%;
}

.experiences_sub_container ul {
    margin: 0;
    padding-left: 2em;
}

.experience_container ul li {
    position: relative;
    padding-left: 1.5em;
}

.experience_container ul li::before {
    content: "➤";
    font-size: 10px;
    margin-right: 1%;
    display: inline-block;
    position: absolute;
    left: 0;
    top: 0;
}

#educations_sub_container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 5mm;
}

.education_header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.edu_header_left {
    display: flex;
    justify-content: center;
    align-items: center;
}

.education_header h2 {
    margin: 0%;
    text-align: left;
    font-size: 12px;
}

.edu_location {
    margin: 0%;
    font-style: normal;
}

.edu_location::before {
    content: "|";
    margin: 5px;
}

.edu_duration {
    margin: 0%;
    text-align: right;
}

.program_title {
    margin: 0%;
}

@page {
    size: A4;
}

@media print {
    #pdf {
        display: none;
    }
}