<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
    <title>CV Generator</title>
</head>
<body>
    <div id="form_box">
        <div id="input_action_menu">
            <div id="input_load_sub_menu">
                <button id="load"></button>
            </div>
            <button id="erase"></button>
        </div>
        <form action="/save" method="post">
            <select id="translate" name="display_language">
                <option id="english" value="🇬🇧">🇬🇧</option>
                <option id="french" value="🇫🇷">🇫🇷</option>
            </select>
            <details open id="personal_data">
                <summary id="personal_data_title"></summary>
                <div>
                    <label id="name_label"></label>
                    <input id="name" class="fixed" type="text" name="name" required>
                </div>
                <div>
                    <label id="first_name_label"></label>
                    <input id="first_name" class="fixed" type="text" name="first_name" required>
                </div>
                <div>
                    <label id="birth_date_label"></label>
                    <input id="birth_date" class="fixed" type="date" name="birth_date" required>
                </div>
                <div>
                    <label id="nationality_label"></label>
                    <input id="nationality" class="fixed" type="text" name="nationality" required>
                </div>
                <div>
                    <label id="phone_number_label"></label>
                    <input id="phone_number" class="fixed" type="text" name="phone_number" placeholder="+41 7- --- -- --" required>
                </div>
                <div>
                    <label id="email_label">Email<span id=\"required\">*</span> :</label>
                    <input id="email" class="fixed" type="text" name="email" placeholder="exemple@gmail.com" required>
                </div>
                <div>
                    <label id="address_label"></label>
                    <input id="address" class="fixed" type="text" name="address" placeholder="Rue de la Gare 1, 1205 Genève" required>
                </div>
                <div>
                    <label id="driver_license_label"></label>
                    <input id="driver_license" class="fixed" type="text" name="driver_license" placeholder="Permis B" required>
                </div>
            </details>
            <details id="about_me">
                <summary id="about_me_title"></summary>
                <div>
                    <label id="about_job_title_label"></label>
                    <input id="about_job_title" class="fixed" type="text" name="about_job_title" required>
                </div>

                <div>
                    <label id="years_experience_label"></label>
                    <input id="years_experience" class="fixed" type="text" name="years_experience" required>
                </div>

                <div id="bio_div">
                    <label id="bio_label"></label>
                    <textarea id="bio" class="fixed" name="bio" required></textarea>
                </div>

                <div id="skills">
                    <label id="add_skill_label"></label>
                    <input id="add_skill_button" class="add" type="button" value="+">
                </div>

                <div id="languages">
                    <label id="add_language_label"></label>
                    <input id="add_language_button" class="add" type="button" value="+">
                </div>
            </details>
            <details id="experiences">
                <summary id="experiences_title"></summary>
                <label id="add_experience_label"></label>
                <input id="add_experience_button" class="add" type="button" value="+">
            </details>
            <details id="educations">
                <summary id="educations_title"></summary>
                <label id="add_education_label"></label>
                <input id="add_education_button" class="add" type="button" value="+">
            </details>
            <input id="save" type="submit">
          </form>
        <button id="generate"></button>
    </div>
    <script src="{{ url_for('static', filename='js/index.js') }}"></script>
</body>
</html>