<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/static/css/form.css">
    <title>CV Generator</title>
</head>
<body>
    <div id="form_box">
        <form action="/view_cv" method="get">
            <div id="personal_data">
                <div>
                    <label>Name<span class="required">*</span> :</label>
                    <input class="text_box" type="text" name="name" required>
                </div>

                <div>
                    <label>Firstname<span class="required">*</span> :</label>
                    <input class="text_box" type="text" name="first_name" required>
                </div>

                <div>
                    <label>Date of birth<span class="required">*</span> :</label>
                    <input class="date" type="date" name="birth_date" required>
                </div>

                <div>
                    <label>Nationality<span class="required">*</span> :</label>
                    <input class="text_box" type="text" name="nationality" required>
                </div>
                
                <div>
                    <label>Phone number<span class="required">*</span> :</label>
                    <input class="text_box" type="text" name="phone_number" placeholder="07- --- -- --" required>
                </div>
                    
                <div>
                    <label>Email<span class="required">*</span> :</label>
                    <input class="text_box" type="text" name="email" placeholder="exemple@gmail.com" required>
                </div>
                    
                <div>
                    <label>Address<span class="required">*</span> :</label>
                    <input class="text_box" type="text" name="address" placeholder="Rue de la Gare 1, 1205 Genève" required>
                </div>

                <div>
                    <label>Driver's license :</label>
                    <input class="text_box" type="text" name="driver_license" placeholder="Permis B">
                </div>
            </div>
            <div id="about_me">
                <div>
                    <label>Job title<span class="required">*</span> :</label>
                    <input class="text_box" type="text" name="about_job_title" required>
                </div>

                <div>
                    <label>Years of experience<span class="required">*</span> :</label>
                    <input class="text_box" type="text" name="years_experience" required>
                </div>

                <div>
                    <label>Biography<span class="required">*</span> :</label>
                    <input class="text_box" type="text" name="bio" required>
                </div>

                <div id="skills">
                    <label>Add Skill<span class="required">*</span> :</label>
                    <input id="add_skill" class="add" type="button" value="+">
                </div>

                <div id="languages">
                    <label>Add language<span class="required">*</span> :</label>
                    <input id="add_language" class="add" type="button" value="+">
                </div>
            </div>
            <div id="experiences">
                <label>Add experience<span class="required">*</span> :</label>
                <input id="add_experience" class="add" type="button" value="+">
            </div>
            <div id="educations">
                <label>Add education<span class="required">*</span> :</label>
                <input id="add_education" class="add" type="button" value="+">
            </div>
            <input class="submit" type="submit" value="Generate CV">
        </form>
    </div>
    <script src="/static/js/script.js"></script>
</body>
</html>