<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/static/css/view.css">
    <title>myCV</title>
</head>
<body>
    <div class="cv_container">
        <aside class="left_column">
            <section id="about_me">
                <div class="left_grid">
                    <div class="photo_container">
                        <img class="photo" src="/static/img/photo.jpg"></img>
                    </div>
                    <div class="bio_container">
                        <h1>{{ cv.about_me["job_title"]|upper }}</h1>
                        <h2>{{ cv.about_me["years_experience"] }} années d'expériences</h2>
                        <p class="bio">{{ cv.about_me["bio"] }}</p>
                    </div>
                    <div class="skills_container">
                        <h1>COMPÉTENCES</h1>
                        <ul>
                            {% for skill in cv.about_me["skills"] %}
                                <li>{{ skill }}</li>
                            {% endfor %}
                        </ul>
                    </div>
                    <div class="languages_container">
                        <h1>LANGUES</h1>
                        {% for language in cv.about_me["languages"] %}
                            <div class="language">
                                <h2>{{ language.language }}</h2>
                                <p>{{ language.proficiency }}</p>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </section>
        </aside>
        <main class="right_column">
            <div class="right_grid">
                <section id="personal_data">
                    <div class="personal_header">
                        <div class="per_header_name">
                            <h1>{{ cv.personal_data["name"]|upper }}</h1>
                            <h1 class="first_name">{{ cv.personal_data["first_name"] }}</h1>
                        </div>
                        <p>{{ cv.personal_data["birth_date"] }}</p>
                    </div>
                    <ul>
                        <li class="nationality">{{ cv.personal_data["nationality"] }}</li>
                        <li class="phone_number">{{ cv.personal_data["phone_number"] }}</li>
                        <li class="email">{{ cv.personal_data["email"] }}</li>
                        <li class="address">{{ cv.personal_data["address"] }}</li>
                        <li class="driver_license">{{ cv.personal_data["driver_license"] }}</li>
                    </ul>
                </section>
                <section id="experiences">
                    <h1>Expériences</h1>
                    {% for experience in cv.experiences %}
                        <div class="experience_container">
                            <div class="experience_header">
                                <div class="exp_header_left">
                                    <h2>{{ experience.employer }}</h2>
                                    <p class="exp_location">{{ experience.location }}</p>
                                </div>
                                <p class="exp_duration">{{ experience.duration_from.replace("-", "/") }} - {{ experience.duration_to.replace("-", "/") }}</p>
                            </div>
                            <p class="job_title">{{ experience.job_title }}</p>
                            <ul>
                            {% for activity in experience.key_activities%}
                                <li>{{ activity }}</li>
                            {% endfor %}
                            </ul>   
                        </div>
                    {% endfor %}
                </section>
                <section id="educations">
                    <h1>Formations</h1>
                    {% for education in cv.educations %}
                        <div class="education_container">
                            <div class="education_header">
                                <div class="edu_header_left">
                                    <h2>{{ education.institution }}</h2>
                                    <p class="edu_location">{{ education.location }}<p>
                                </div>
                                <p class="edu_duration">{{ education.duration_from.replace("-", "/") }} - {{ education.duration_to.replace("-", "/") }}</p>
                            </div>
                            <p class="program_title">{{ education.program_title }}</p>
                        </div>
                    {% endfor %}
                </section>
            </div>
        </main>
    </div>
</body>
</html>